body
{
    width: 900px;
    text-align: center;
}

#chart_div
{
    width: auto;
    height: 500px;
}

#i_year{
    position: relative;
    left: 0px
}

#f_year{
    position: relative;
    right: 0px
}

