body
{
    width: auto;
    margin: 30px auto;
    text-align: center;
    background: green
}

#chart_dates, #graph_selectors
{
	/*display: inline-block;*/
	border: 1px solid black
}

#graph_selectors
{
	vertical-align: top
}

#chart_div
{
    width: 1000px;
    margin: auto;
    height: 500px;
    padding: -40px;
}

